body {
    font-family: Open Sans, sans-serif;
    line-height: 25px;
}
button {
    font-family: Open Sans;
}
input {
    font-family: Open Sans;
}
#box-container {
    /* background-color: aquamarine; */
    display: flex;
    height: 500px;
    flex-direction: row;
    justify-content: space-between;
}